* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    line-height: 1.9em;
    background: hsl(212, 45%, 89%);
}

#box {
    display: block;
    margin: auto;
    text-align: center;
    background: hsl(0, 0%, 100%);
    width: 400px;
    height: 600px;
    margin-top: 20px;
    border-radius: 20px;
}

.container {
    padding: 20px;
}

.container .info-image {
    padding: 5px;
    margin-bottom: 5px;
}

.container .info-image img {
    border-radius: 10px;
    width: 100%;
}

.info-container,
.info-container2 {
    font-size: 15px;
}

.info-container {
    padding-bottom: 20px;
    color: hsl(218, 44%, 22%);
}

.info-container .text-primary {
    font-weight: 700;
}

.info-container2 {
    /* padding: 0 10px; */
    color: hsl(220, 15%, 55%);
}

.info-container2 .text-secondery {
    font-weight: 400;
}